.env
node_modules
.DS_Store
terminal-cmd.txt


# Elastic Beanstalk CLI Files
.elasticbeanstalk/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
