.centerText {
    display: block; 
    text-align: center;
}

.cardWidth {
    max-width: 1000px;
}

#dialogHeader {
    margin: 0px;
    color: rgb(105, 105, 105)
}

.footerText {
    font-size: 10px;
}

.dialogInput {
    margin: 5px 0px;
}

.inputDiv {
    padding: 0px !important;
}