<section>
    <md-content layout="row" layout-align="center start">
        <md-card layout="column" flex class="cardWidth">
            <md-card-title flex layout="column">
                <md-card-title-text flex layout="column" layout-align="center center">
                    <span class="md-display-3 centerText">Hunter Rancourt</span>
                    <span class="md-title">Software Engineer</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex layout-gt-sm="row" layout="column" layout-align="center center">
                <div flex layout="column" layout-align="center center">
                    <img flex class="md-card-image" ng-src="images/me.JPG" />
                </div>
                <div flex layout="column" layout-align="center center" layout-padding>
                    <p>
                        I'm a Fullstack JavaScript Developer. 
                        With a high aptitude and drive to learn new technologies.
                        I'm currently seeking opportunities. 
                    </p>
                </div>
            </md-card-content>
            <md-card-actions>
                <div style="visibility: hidden">
                    <div class="md-dialog-container" id="contactDialog">
                        <md-dialog layout-padding flex layout-gt-xs="column">
                            <h2 id="dialogHeader" class="centerText">Message Hunter</h2>
                            <div layout-gt-sm="row" layout="column" class="inputDiv">
                                <md-input-container class="dialogInput" flex-gt-sm>
                                    <label>Email</label>
                                    <input ng-model="hc.sender" required type="email">
                                </md-input-container>
                                <md-input-container class="dialogInput" flex-gt-sm>
                                    <label>Subject</label>
                                    <input ng-model="hc.subject" required type="text">
                                </md-input-container>
                            </div>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Message</label>
                                <textarea ng-model="hc.message" md-maxlength="1000" required rows="5" md-select-on-focus></textarea>
                            </md-input-container>
                            <div>
                                <md-button class="md-raised md-warn" type="submit" ng-click="hc.sendMessage(hc.subject, hc.sender, hc.message)">Send!</md-button>
                            </div>
                        </md-dialog>
                    </div>
                </div>
            </md-card-actions>
            <md-card-footer layout-gt-xs="row" layout="column">
                <div flex layout="row" layout-align-gt-xs="start center" layout-align="center center">
                    <p class="footerText textCenter">
                        <b>Phone:</b> 218-341-2264 &nbsp;|&nbsp;
                        <b>Email:</b> <a href="mailto:hunter@rancourt.pro?Subject=Hello%20Hunter" target="_top">hunter@rancourt.pro</a>
                    </p>
                </div>
                <div flex layout="row" layout-align-gt-xs="center center" layout-align="center center">
                    <md-button ng-click="hc.contactDialog($event)" class="md-icon-button" aria-label="Message">
                        <md-tooltip md-direction="top">Send Me A Message</md-tooltip>
                        <md-icon md-svg-icon="images/svg/mail.svg"></md-icon>
                    </md-button>
                    <md-button ng-href="https://www.linkedin.com/in/hunter-rancourt/" class="md-icon-button" aria-label="LinkedIn">
                        <md-tooltip md-direction="top">Check Me Out On LinkedIn</md-tooltip>
                        <md-icon md-svg-icon="images/svg/linked_in.svg"></md-icon>
                    </md-button>
                    <md-button ng-href="https://github.com/skwid138/portfolio" class="md-icon-button" aria-label="GitHub">
                        <md-tooltip md-direction="top">Check Me Out On GitHub</md-tooltip>
                        <md-icon md-svg-icon="images/svg/github.svg"></md-icon>
                    </md-button>
                </div>
                <div flex layout="row" layout-align-gt-xs="end center" layout-align="center center">
                    <p class="footerText">
                        &copy; Hunter Rancourt 2017
                    </p>
                </div>
            </md-card-footer>
        </md-card>
    </md-content>
</section>